<div class="main-div">
	<mat-card>
		<mat-card-header class="headerCard">
			<h2>Registeration</h2>
		</mat-card-header>
		<mat-card-content class="registerCard">
			<form class="example-form" [formGroup]="registerForm" (ngSubmit)="registration(registerForm)">
				<mat-form-field class="example-full-width">
					<mat-label>Email</mat-label>
					<input matInput formControlName="Email" >
				</mat-form-field>
				<mat-form-field class="example-full-width">
					<mat-label>Password</mat-label>
					<input type="password" matInput formControlName="Password" >
				</mat-form-field>
				<div class="register-button">
					<button mat-raised-button color="primary">Register</button>
				</div>
			</form>
		</mat-card-content>	
	</mat-card>
</div>