.example-full-width {
    width: 100%;
}
.headerCard{
    justify-content: center;
}
.messageCard{
    width: 80%;
}

.main-div{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-button{
    display: flex;
    justify-content: center;
    align-items: center;
}