<div class="main-div">
	<mat-card>
		<mat-card-header class="headerCard">
			<h2>Change password</h2>
		</mat-card-header>
		<mat-card-content class="passwordCard">
			<form [formGroup]="passwordForm">
				<mat-form-field class="example-full-width">
					<mat-label>Password</mat-label>
					<input type="password" matInput formControlName="Password" >
					<mat-error *ngIf="passwordForm.invalid">{{getPasswordErrorMessage()}}</mat-error>
				</mat-form-field>
				<mat-form-field class="example-full-width">
					<mat-label>Confirm Password</mat-label>
					<input type="password" matInput formControlName="ConfirmPassword">
					<mat-error *ngIf="passwordForm.invalid">{{getConfirmPasswordErrorMessage()}}</mat-error>
				</mat-form-field>
                <div class="change-button">
					<button 
						[disabled]="passwordForm.invalid" 
						mat-raised-button 
						color="warn"
						(click)="changePassword()"
						>
						Change password
					</button>
                </div>
			</form>
		</mat-card-content>	
	</mat-card>
</div>