<mat-toolbar color="primary" class="navbar">
    <div>
        <span>Message Sender</span>
        <button *ngIf="isAuth()" mat-raised-button routerLink="message">Create message</button>
        <button *ngIf="isAuth()" mat-raised-button routerLink="messages">Messages</button>
    </div>
    <div>
        <button *ngIf="!isAuth()" mat-raised-button routerLink="login">Login</button>
        <button *ngIf="!isAuth()" mat-raised-button routerLink="register">Register</button>
        <button *ngIf="isAuth()" mat-raised-button (click)="logout()">Logout</button>
    </div>
</mat-toolbar>