<div class="main-div">
	<mat-card>
		<mat-card-header class="headerCard" *ngIf="!isForgot">
			<h2>Login</h2>
		</mat-card-header>
		<mat-card-header class="headerCard" *ngIf="isForgot">
			<h2>Forgot password</h2>
		</mat-card-header>
		<mat-card-content class="loginCard">
			<form [formGroup]="loginForm">
				<mat-form-field class="example-full-width">
					<mat-label>Email</mat-label>
					<input matInput formControlName="Email" >
					<mat-error *ngIf="loginForm.invalid">{{getEmailErrorMessage()}}</mat-error>
				</mat-form-field>
				<mat-form-field *ngIf="!isForgot" class="example-full-width">
					<mat-label>Password</mat-label>
					<input type="password" matInput formControlName="Password">	
					<mat-error *ngIf="loginForm.invalid">{{getPasswordErrorMessage()}}</mat-error>
				</mat-form-field>
				<mat-form-field *ngIf="isSendCode">
					<mat-label>Code</mat-label>
					<input matInput type="number" formControlName="Code">
					<mat-error *ngIf="loginForm.invalid">{{getCodeErrorMessage()}}</mat-error>
				</mat-form-field>
				<div class="buttons">
					<div *ngIf="!isSendCode && isForgot">
						<button
							[disabled]="loginForm.invalid" 
							mat-raised-button
							color="warn"
							(click)="sendCode()"
							>
							Send code
						</button>
					</div>
					<div *ngIf="isSendCode && isForgot">
						<button
							*ngIf="isForgot"
							[disabled]="loginForm.invalid" 
							mat-raised-button
							color="warn"
							(click)="confirmCode()"
							>
							Confirm code
						</button>
					</div>
					<div *ngIf="!isForgot" class="login-button">
						<button 
							[disabled]="loginForm.invalid"
							mat-raised-button 
							color="warn"
							(click)="login()"
							>
							Login
						</button>
					</div>
					<div *ngIf="!isForgot" class="forgot-link">
						<a (click)="forgot()">Forgot password?</a>
					</div>
				</div>
			</form>
		</mat-card-content>	
	</mat-card>
</div>